.about-container{
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width : 600px){
    .about-container{
        max-width: none;
    }
}
