.appartment-header,
.host-info {
  color: rgb(252, 71, 78);
}
.appartment-title {
  margin-top: 1rem;
  font-size: 2rem;
}
.appartment-info,
.host-info {
  display: flex;
}
.host-info {
  align-items: center;
  position: relative;
  font-size: 1.5rem;
}
.host-profile-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 0.5rem;
  shape-outside: circle();
}
.host-name {
  width: min-content;
  padding-right: 0.5rem;
}

.appartment-info{
  position: relative;
  margin-left: auto;
  flex-wrap: wrap;
}
.tags-rating {
  margin: auto 0;
}
.host-rating {
  margin-left: auto;
  margin-top: 1rem;
}
