.appartment-header,
.host-info {
  color: rgb(252, 71, 78);
}
.appartment-title {
  margin-top: 1rem;
  font-size: 2rem;
}
.host-info {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.host-profile-img {
  border-radius: 50%;
  margin-left: 1.5rem;
}
