.card-container {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.card-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F7F7F7;
    border-radius: 35px;
    padding: 2rem;
    justify-content: center;
}

.thumbnail {
    max-width: 18rem;
    min-height: 18rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
   
}
.cover-card {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    --bs-gutter: 1.5rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 10px;
    object-fit: contain;
    margin: calc(var(--bs-gutter) * 2);
}

.card-text {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem;
}

.cover-card::after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

@media only screen and (max-width: 600px){
    .card-wrapper {
        background-color: unset;
        padding: unset;
    }
    .cover-card{
        height: unset;
        width: unset;
        margin-bottom: 1rem;
        --bs-gutter: unset;
    }
    .thumbnail {
        max-width: unset;
    }
}

