.thumbnail {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}
.cover-card{
    width: 20rem;
    height: 20rem;
}
.card-text {
    text-shadow: 0 0 1em rgb(4, 4, 80), 0 0 0.2em rgb(6, 6, 72);
}