.appartment-dropdown{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.appartment-dropdown>.dropdown-container{
    width: 44%; 
}
.dropdown-container{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    border-radius: 5px;
    position: relative;
}

.dropdown-btn{
    background-color: rgb(252, 71, 78);
    text-align: left;
    color: #fff;
    border: none;
    border-radius: 5px;
    position: relative;
    padding: 0.5rem;
    /* min-width: 30rem; */
    width: auto;
}
.dropdown-content {
    color: rgb(252, 71, 78);
    min-height: 15rem;
}
.active{
    background-color: #F7F7F7;
}
.dropdown-text {
    padding: 0.5rem; 
}
.fa-chevron-up,
.fa-chevron-down {
    color: #fff;
    font-size: 1rem;
    padding: 0 0.5rem;
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .appartment-dropdown{
        flex-wrap: wrap;
        margin: 1rem 2rem;
        justify-content: center;
    }
    .appartment-dropdown>.dropdown-container{
        width: unset;
    }
    .dropdown-btn {
        min-width: 15rem;
        max-width: 18rem;
        margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1015px) {
    .appartment-dropdown{
        flex-wrap: wrap;
        margin: 1rem 2rem;
    }
   
  }