.dropdown-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: #F7F7F7;
}
.dropdown-btn{
    background-color: rgb(252, 71, 78);
    text-align: left;
    color: #fff;
    border: none;
    margin-bottom: 1.5rem;
}
.dropdown-content {
    background-color: #F7F7F7;
}