.dropdown-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 5rem 1.5rem 5rem;
    background-color: #F7F7F7;

}
.dropdown-btn{
    background-color: rgb(252, 71, 78);
    text-align: left;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.dropdown-content {
    background-color: #F7F7F7;
    color: rgb(252, 71, 78);
    border-radius: 5px;
}
.fa-chevron-up,
.fa-chevron-down {
    color: #fff;
    font-size: 1rem;
    padding: 0 0.5rem;
    
}