.footer {
    height: 10rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    margin-top: 2rem;
    position: absolute;
    bottom: -24;
}
.footer-logo{
    margin: 1rem;
}
.footer-text, .footer-logo {
    color: #fff;
}