.navigation {
    list-style: none;
    align-items: center;
}
.link {
    text-decoration: none;
    color: rgb(252, 71, 78);
}
.link:hover {
    text-decoration: underline;
    color: rgb(252, 71, 78);
}
.logo {
    width: 10rem;
}
